{% if include.active_id %}
  {% assign active_id = include.active_id %}
{% endif %}
<div class="container container--wide">
  <ul class="post-previews row" data-masonry='{ "itemSelector": ".post-preview" }'>
      {% if site.post_sort %}
        {% assign sorted_posts = site.posts | sort: site.post_sort %}
      {% else %}
        {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
      {% endif %}
      {% for post in sorted_posts %}
        {% assign current_id = post.id %}
        <li class="post-preview col quarter {% if current_id == active_id %} active{% endif %}">
          <a href="{{ post.url }}" class="post-preview__link">
            {% if post.image %}
              <img src="{{ post.image }}" class="post-preview__thumbnail">
            {% endif %}
            <h4>{{ post.title }}</h4>
          </a>
        </li>
      {% endfor %}
  </ul>
</div>
