{% if include.active_id %}
  {% assign active_id = include.active_id %}
{% endif %}
<ul class="post-previews container container--wide">
  <div class="row">
    {% if site.sort_by and site.is_sort_reversed %}
      {% assign sorted_posts = site.posts | sort: site.sort_by | reverse %}
    {% elsif site.sort_by %}
      {% assign sorted_posts = site.posts | sort: site.sort_by %}
    {% else %}
      {% assign sorted_posts = site.posts | sort: 'date' %}
    {% endif %}

    {% assign layout = 'shelf' %}
    {% if site.layout %}{% comment %}'shelf', 'tile', or 'short-tile'{% endcomment %}
      {% assign layout = site.layout %}
    {% endif %}
    {% for post in sorted_posts %}
      {% assign current_id = post.id %}
      <li class="post-preview col quarter{% if current_id == active_id %} active{% endif %}">
        <a href="{{ post.url }}" class="post-preview__link">
          {% if post.image %}
            <div class="post-preview__thumb post-preview__thumb--{{ layout }}" style="background-image: url('{{ post.image }}')"></div>
          {% endif %}
          <h4 class="post-preview__title">{{ post.title }}</h4>
        </a>
      </li>
    {% endfor %}
  </div>
</ul>
