// import
// ------

@import 'reset';
@import 'mixins';
@import 'variables';

// base
// ----

*,
*:before,
*:after {
  @include box-sizing(inherit);
}
html,
body {
  overflow-x: hidden;
}
html {
  height: 100%;
  @include box-sizing(border-box);
  font-size: $font-size--desktop;
  @include max-width($max-width--sm) {
    font-size: $font-size--mobile;
  }
}
body {
  line-height: $line-height--body;
  font-family: $font-family--body;
  font-weight: $font-weight--body;
  font-size: $font-size--body;
  color: $color--body;
  background: $color--background;
  @include antialias;
  overflow-x: hidden;
  text-align: center;
  margin-bottom: $v*2;
}
img,
video,
iframe {
  @include responsive-image;
}
a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
.header__title__link,
.post-preview__link {
  text-decoration: none;
}
.post-preview__link {
  &:hover {
    text-decoration: underline;
  }
}

// grid
// ----

.container {
  width: 100%;
  @include margin-center;
  padding-left: $gutter;
  padding-right: $gutter;
  @include max-width($max-width--sm) {
    padding-left: $gutter--sm;
    padding-right: $gutter--sm;
  }
}
.container--narrow {
  max-width: $max-width--container--narrow;
}
.container--wide {
  max-width: $max-width--container--wide;
}
.row {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  @include max-width($max-width--sm) {
    margin-left: -$gutter--sm/2;
    margin-right: -$gutter--sm/2;
  }
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(flex-end);
}
.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  margin-bottom: $gutter*5;
  @include max-width($max-width--sm) {
    padding-left: $gutter--sm/2;
    padding-right: $gutter--sm/2;
    margin-bottom: $gutter--sm*5;
  }
}
.quarter {
  width: 1/4*100%;
  @include max-width($max-width--lg) {
    width: 1/3*100%;
  }
  @include max-width($max-width--md) {
    width: 1/2*100%;
  }
  @include max-width($max-width--xs) {
    width: 100%;
  }
}
.three-quarters {
  width: 3/4*100%;
  @include max-width($max-width--lg) {
    width: 2/3*100%;
  }
  @include max-width($max-width--md) {
    width: 1/2*100%;
  }
  @include max-width($max-width--xs) {
    width: 100%;
  }
}
.third {
  width: 1/3*100%;
  @include max-width($max-width--md) {
    width: 1/2*100%;
  }
  @include max-width($max-width--xs) {
    width: 100%;
  }
}
.two-thirds {
  width: 2/3*100%;
  @include max-width($max-width--sm) {
    width: 100%;
  }
}
.half {
  width: 1/2*100%;
  @include max-width($max-width--md) {
    width: 100%;
  }
}

// header
// ------

.header {
  margin-top: $margin-top--header;
  margin-bottom: $margin-bottom--header;
}
.header__nav__item {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.header__title,
.header__description,
.header__nav {
  margin-bottom: $v;
}
.header__title {
  font-family: $font-family--site-title;
  font-weight: $font-weight--site-title;
  font-size: $font-size--site-title;
  color: $color--site-title;
}

// post-preview
// ------------

.post-previews {
  margin-bottom: $v*8;
}
.post-preview__link {
  &:active {
    .post-preview__thumbnail {
      @include translate3d(0, 1px, 0);
    }
  }
}
.post-preview__thumbnail {
  min-width: 100%;
  margin-bottom: $v*0.5;
}
.post-preview__title {
  font-family: $font-family--thumbnail-title;
  font-weight: $font-weight--thumbnail-title;
  font-size: $font-size--thumbnail-title;
  color: $color--thumbnail-title;
}

// permalink
// ---------

.main {
  margin-bottom: $v*8;
}
.main__title {
  margin-bottom: $v;
  font-family: $font-family--post-title;
  font-weight: $font-weight--post-title;
  font-size: $font-size--post-title;
  color: $color--post-title;
}
.main__date {
  color: $color--date;
}
.longform {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  img,
  video,
  iframe {
    margin-bottom: $v;
  }
  strong,
  b {
    font-weight: 700;
  }
  em,
  i {
    font-style: italic;
  }
}

// footer
// ------

.footer {
  color: $color--footer;
}