---
---

@charset "utf-8";

// variables

$font-size--desktop: 18px;
$font-size--mobile:  16px;

$font-family--body: sans-serif;
$font-weight--body: 400;
$font-size--body:   1em;
$line-height--body: 1.5;

$color--background: #fff;
$color--primary:    #333;
$color--secondary:  #999;

// theme import

@import 'theme';
